body{

    /* background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: sans-serif;
     */

    
     justify-content: center;
 
     background: #0b1721;
  

}


input{
   

    text-align: center;
    padding: left 50px;
    text-align: center;
 /* font-weight: 100;
 font-size: 30px;
 border-top-left-radius: 7px;
 */

 width: 48%; 

}

form{
   
text-align: center;
justify-content: center;
padding: 10px ;
/* usaremos el codigo para acomodar el formulario */
justify-content: center;
text-align: center;
padding: 10px;


}



.form {
   text-align: center;
   padding: left 50px;
   justify-content: center;
/* font-weight: 100;
font-size: 30px; */
border-top-left-radius: 7px;


/* -----------------------acomodar */
/* width: 450px;
padding: 10px ; */
/* usaremos el codigo para acomodar el formulario */

text-align: center;
padding: 10px;
}

label{

text-align: center center;
color: white;
}


.container {

    padding: 10px ;
    /* usaremos el codigo para acomodar el formulario */
    justify-content: center;
    text-align: center;
    padding: 10px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    background-color: rgb(32, 47, 49);
}

h1{

    background-color: rgb(170, 176, 177);
    text-align: center;
}


