h3{

    background-color: rgb(179, 28, 25);
    text-align: center;
}

form{


    text-align: center;
}

body{
    background-color: #333333;


}

input{
    text-align: center;
    
}

a{

    text-align: center;
}

